10560-12/003-ConsumidorConsole/Service References/ProxyPessoa/PessoaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_002_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_002_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2780/PessoaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfPessoa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pessoa" nillable="true" type="tns:Pessoa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPessoa" nillable="true" type="tns:ArrayOfPessoa" />
  <xs:complexType name="Pessoa">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cod" type="xs:int" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Pessoa" nillable="true" type="tns:Pessoa" />
</xs:schema>