10560-12/004-ConsumidorConsoleAssincrono/Service References/Proxy/Calculadora.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculadora" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2780/Calculadora.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2780/Calculadora.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculadora_Somar_InputMessage">
    <wsdl:part name="parameters" element="tns:Somar" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Somar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SomarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Subtrair_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtrair" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Subtrair_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtrairResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Multiplicar_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplicar" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Multiplicar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Dividir_InputMessage">
    <wsdl:part name="parameters" element="tns:Dividir" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Dividir_OutputMessage">
    <wsdl:part name="parameters" element="tns:DividirResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Elevar_InputMessage">
    <wsdl:part name="parameters" element="tns:Elevar" />
  </wsdl:message>
  <wsdl:message name="ICalculadora_Elevar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ElevarResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculadora">
    <wsdl:operation name="Somar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/Somar" message="tns:ICalculadora_Somar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/SomarResponse" message="tns:ICalculadora_Somar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtrair">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/Subtrair" message="tns:ICalculadora_Subtrair_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/SubtrairResponse" message="tns:ICalculadora_Subtrair_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/Multiplicar" message="tns:ICalculadora_Multiplicar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/MultiplicarResponse" message="tns:ICalculadora_Multiplicar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/Dividir" message="tns:ICalculadora_Dividir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/DividirResponse" message="tns:ICalculadora_Dividir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Elevar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadora/Elevar" message="tns:ICalculadora_Elevar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadora/ElevarResponse" message="tns:ICalculadora_Elevar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculadora" type="tns:ICalculadora">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Somar">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/Somar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtrair">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/Subtrair" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/Multiplicar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/Dividir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Elevar">
      <soap:operation soapAction="http://tempuri.org/ICalculadora/Elevar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculadora">
    <wsdl:port name="BasicHttpBinding_ICalculadora" binding="tns:BasicHttpBinding_ICalculadora">
      <soap:address location="http://localhost:2780/Calculadora.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>